<main>
    <div class="container" id="mainContainerRow">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header" ><h4 class="translate" data-identifier="public.title">公告</h4></li>
                {% for public in publics %}
                <li class="collection-item">{{public['title']}} ({{public['thread']}}) <a href="/thread/{{public['thread']}}" class="secondary-content"><i class="material-icons">arrow_forward</i></a></div></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include 'l10nFab.html' %}
    {% include 'modalL10n.html' %}
    <script>$(document).ready(function(){$('.fixed-action-btn').floatingActionButton();$('.modal').modal();});</script>
</main>