<main>
    <div class="container" id="container">
        <div class="row" id="mainContainerRow">
          {% include 'getThreadForm.html' %}
          <div id="threadContainer">
            <div class="waves-effect waves-grey btn-flat" id="backToIndex"><i class="small material-icons">chevron_left</i></div>
            <h1 id="thread-title" class="translate" data-identifier="thread.notFoundTitle">请求的内容不存在。</h1>
          </div>
        </div>
        {% include 'modalNewThread.html' %}
        {% include 'editFab.html' %}
        <script>$(document).ready(function(){$('.fixed-action-btn').floatingActionButton();$('.modal').modal();});</script>
    </div>
</main>