<footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">关于本站</h5>
          <p class="grey-text text-lighten-4">本站是Lake桑的个人站点，是一个实验性质的树洞。求不打。</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">友情站点</h5>
          <ul>
            <li><a class="white-text" href="//store.tree0.xyz" rel="friend" target="_blank">树洞计划</a></li>
            <li><a class="white-text" href="//pisme.wordpress.com" rel="friend" target="_blank">小P的站点</a></li>
            <li><a class="white-text" href="//stray-soul.site" rel="friend" target="_blank">一只火狐的杂物间</a></li>
            <li><a class="white-text" href="//blog.izgq.net" rel="friend" target="_blank">ZGQ's BLOG</a></li>
            <li><a class="white-text" href="//wd-ljt.com" rel="friend" target="_blank">问谛居</a></li>
            <li><a class="white-text" href="//powerdia.nl" rel="friend" target="_blank">电量的博客</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      by <a class="grey-text text-lighten-3" href="https://lakejason0.wordpress.com">Lakejason0</a>
      </div>
    </div>
</footer>