<script>

    function htmlEscape(text) {
        return text.replace(/[<>"&]/g, function (match, pos, originalText) {
            switch (match) {
                case "<":
                    return "&lt;";
                case ">":
                    return "&gt;";
                case "&":
                    return "&amp;";
                case "\"":
                    return "&quot;";
            }
        });
    }

    var currentThreadId = "{% if thread['thread'] %}{{thread['thread']}}{% endif %}";

    function newThreadModal() {
        $('#modalNewThread').modal('open');
    }

    $("#edit-fab").click(newThreadModal);

    function l10nModal(){
        $('#modalL10nSettings').modal('open');
    }

    $("#l10n-fab").click(l10nModal);

    function newThread() {
        $("#newThreadModel").append(`<div class="progress" id="newThreadModalProgress">
            <div class="indeterminate"></div>
        </div>`)
        var formObject = {}
        var formArray = $("#newThreadForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $.ajax({
            url: "/api/thread",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"action": "create", "data": formObject}),
            dataType: "json",
            success: function (data) {
                console.log(data)
                if (data['code'] === 200) {
                    $('.modal').modal('close');
                    $("#newThreadForm")[0].reset();
                    $("#threadInputField").val(data.data.thread)
                    submitThread()
                    $("#threadInputField").val("")
                } else {
                    M.toast({html: `${data['code']} - <span class="translate" data-identifier="${data.data['identifier']}">${data.data['message']}</span>`})
                    $("#newThreadModalProgress").remove();
                }
            },
            error: function (e) {
                console.log(e)
                M.toast({html: `${e['status']} - ${e['statusText']}`})
                $("#newThreadModalProgress").remove();
            }
        });
    }

    $("#newThreadButton").click(newThread);

    function replyThread() {
        var formObject = {}
        var formArray = $("#replyForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $("#replyThreadButton").addClass("disabled");
        $.ajax({
            url: "/api/thread/" + currentThreadId,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"action": "reply", "data": formObject}),
            dataType: "json",
            success: function (data) {
                console.log(data)
                if (data['code'] === 200) {
                    $("#replyForm")[0].reset();
                    $("#replyThreadButton").removeClass("disabled");
                    $('#threadContainer').empty();
                    $('#threadContainer').append(`<div class="waves-effect waves-grey btn-flat" id="backToIndex"><i class="small material-icons">chevron_left</i></div>`)
                    $('#backToIndex').click(backToIndex);
                    thread = data.data['thread']
                    $('#threadContainer').append(`<h1 id="thread-title">${thread['title']}</h1>`)
                    for (var i in data.data['posts']) {
                        var post = data.data['posts'][i]
                        post['content'] = htmlEscape(post['content']);
                        console.log(post)
                        $('#threadContainer').append(`<div class="col l12 s12 card-panel white thread-card" id="post-${post['floor']}">
                            <div class="card-content">
                                <div class="content" id="content-${post['floor']}">${post['content']}</div>
                                <div class="post-metadata">
                                    <span class="grey-text username"><i class="tiny material-icons">account_box</i><span class="metadata-text">${post['username']}</span></span>
                                    <span class="grey-text time"><i class="tiny material-icons">access_time</i><span class="metadata-text">${post['time']}</span></span>
                                </div>
                                <div class="floor">
                                    <span class="floor-number grey-text">${post['floor']}</span>
                                </div>
                            </div>
                        </div>`);
                    }
                    if (thread['is_closed']) {
                        $('#replyForm').addClass("invisible");
                        $('#threadClosedText').removeClass("invisible");
                    }
                    currentThreadId = thread['thread'];
                    history.pushState({}, "index", "/thread/" + thread['thread']);
                } else {
                    M.toast({html: `<span>${data['code']}</span><span>&nbsp;-&nbsp;</span><span class="translate" data-identifier="${data.data['identifier']}">${data.data['message']}</span>`})
                    $("#replyThreadButton").removeClass("disabled");
                }
            },
            error: function (e) {
                console.log(e)
                M.toast({html: `${e['status']} - ${e['statusText']}`})
                $("#submitThreadButton").removeClass("disabled");
            }
        });
    }

    $("#replyThreadButton").click(replyThread);

    function backToIndex() {
        $('#replyFormContainer').addClass("invisible");
        $('#threadClosedText').addClass("invisible");
        $('#threadContainer').empty();
        $('#threadFormContainer').removeClass("invisible");
        $("#submitThreadButton").removeClass("disabled");
        currentThreadId = "";
        history.pushState({}, "index", "/");
    }

    function submitThread() {
        var formObject = {}
        var formArray = $("#getThreadForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $("#submitThreadButton").addClass("disabled");
        $.ajax({
            url: "/api/thread/" + formObject['thread'],
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            dataType: "json",
            success: function (data) {
                console.log(data)
                console.log(data.data)
                console.log(data.data['code'])
                if (data['code'] === 200) {
                    $('#threadFormContainer').addClass("invisible");
                    $('#threadContainer').append(`<div class="waves-effect waves-grey btn-flat" id="backToIndex"><i class="small material-icons">chevron_left</i></div>`)
                    $('#backToIndex').click(backToIndex);
                    $('#replyFormContainer').removeClass("invisible");
                    $('#replyForm').removeClass("invisible");
                    thread = data.data['thread']
                    $('#threadContainer').append(`<h1 id="thread-title">${thread['title']}</h1>`)
                    for (var i in data.data['posts']) {
                        var post = data.data['posts'][i]
                        post['content'] = htmlEscape(post['content']);
                        console.log(post)
                        $('#threadContainer').append(`<div class="col l12 s12 card-panel white thread-card" id="post-${post['floor']}">
                            <div class="card-content">
                                <div class="content" id="content-${post['floor']}">${post['content']}</div>
                                <div class="post-metadata">
                                    <span class="grey-text username"><i class="tiny material-icons">account_box</i><span class="metadata-text">${post['username']}</span></span>
                                    <span class="grey-text time"><i class="tiny material-icons">access_time</i><span class="metadata-text">${post['time']}</span></span>
                                </div>
                                <div class="floor">
                                    <span class="floor-number grey-text">${post['floor']}</span>
                                </div>
                            </div>
                        </div>`);
                    }
                    if (thread['is_closed']) {
                        $('#replyForm').addClass("invisible");
                        $('#threadClosedText').removeClass("invisible");
                    }
                    currentThreadId = thread['thread'];
                    history.pushState({}, "index", "/thread/" + thread['thread']);
                } else {
                    M.toast({html: `<span>${data['code']}</span><span>&nbsp;-&nbsp;</span><span class="translate" data-identifier="${data.data['identifier']}">${data.data['message']}</span>`})
                    $("#submitThreadButton").removeClass("disabled")
                }
            },
            error: function (e) {
                console.log(e)
                M.toast({html: `${e['status']} - ${e['statusText']}`})
                $("#submitThreadButton").removeClass("disabled")
            }
        });
    }

    $('#submitThreadButton').click(submitThread)
    $('#backToIndex').click(backToIndex)

    var dict =
    {{ langs|safe }}

    var language = "en_us" // 之后做语言选择

    // 选择需要观察变动的节点
    var targetNode = document.querySelector('body');

    // 观察器的配置（需要观察什么变动）
    var config = {
        attributes: true, childList: true, subtree: false, characterData: false,
    };

    function callTranslate(nodes) {
        nodes.forEach(dom => {
            dom.innerText = dict[language][dom.getAttribute("data-identifier")] || "L10N ERROR"
        })
    }

    callTranslate(document.querySelectorAll(".translate"))
    // 当观察到变动时执行的回调函数
    var callback = function (mutations) {

        for (var mutation of mutations) {
            if (mutation.type == 'childList') {
                console.log(mutation.addedNodes)
                let filter = Array.from(mutation.addedNodes).filter(v => v.nodeType === Node.ELEMENT_NODE).filter(v => v.classList.contains("translate"))
                if (filter.length >= 1) {
                    console.log('need to translate', filter)
                    callTranslate(filter)
                }
            } else if (mutation.type == 'attributes') {
                console.log('The ' + mutation.attributeName + ' attribute was modified.');
            }
        }
    };

    // 创建一个观察器实例并传入回调函数
    var observer = new MutationObserver(callback);

    // 以上述配置开始观察目标节点
    observer.observe(targetNode, config);
    const stop = () => {
        observer.disconnect();
    }
</script>