<script>
    function newThreadModal(){
        $('#modalNewThread').modal('open');
    }

    $("#edit-fab").click(newThreadModal);

    function newThread(){
        $("#newThreadModel").append(`<div class="progress" id="newThreadModalProgress">
            <div class="indeterminate"></div>
        </div>`)
        var formObject = {}
        var formArray = $("#newThreadForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $.ajax({
            url: "/api/thread",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"action":"create","data":formObject}),
            dataType: "json",
            success: function(data) {
                console.log(data)
                if (data['code'] === 200){
                    $('.modal').modal('close');
                    $("#newThreadForm")[0].reset();
                    $("#threadInputField").val(data.data.thread)
                    submitThread()
                    $("#threadInputField").val("")
                } else {
                    M.toast({html: `${data['code']} - <span class="translate" data-identifier="${data.data['identifier']}">${data.data['message']}</span>`})
                    $("#newThreadModalProgress").remove();
                }
            },
            error: function(e) {
                console.log(e)
                M.toast({html: `${e['status']} - ${e['statusText']}`})
                $("#newThreadModalProgress").remove();
            }
        });
    }

    $("#newThreadButton").click(newThread);

    function backToIndex(){
        $('#threadContainer').empty();
        $('#threadForm').removeClass("invisible");
        $("#submitThreadButton").removeClass("disabled");
        history.pushState({}, "index", "/");
    }

    function submitThread(){
        var formObject = {}
        var formArray = $("#getThreadForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $("#submitThreadButton").addClass("disabled");
        $.ajax({
            url: "/api/thread/" + formObject['thread'],
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            dataType: "json",
            success: function (data) {
                console.log(data)
                console.log(data.data)
                console.log(data.data['code'])
                if (data['code'] === 200){
                    $('#threadForm').addClass("invisible");
                    $('#threadContainer').append(`<div class="waves-effect waves-grey btn-flat" id="backToIndex"><i class="small material-icons">chevron_left</i></div>`)
                    $('#backToIndex').click(backToIndex);
                    thread = data.data['thread']
                    $('#threadContainer').append(`<h1 id="thread-title">${thread['title']}</h1>`)
                    for (var i in data.data['posts']) {
                        post = data.data['posts'][i]
                        console.log(post)
                        $('#threadContainer').append(`<div class="col l12 s12 card-panel white thread-card" id="post-${post['floor']}">
                            <div class="card-content">
                                <div class="content" id="content-${post['floor']}">${post['content']}</div>
                                <div class="post-metadata">
                                    <span class="grey-text username"><i class="tiny material-icons">account_box</i><span class="metadata-text">${post['username']}</span></span>
                                    <span class="grey-text time"><i class="tiny material-icons">access_time</i><span class="metadata-text">${post['time']}</span></span>
                                </div>
                                <div class="floor">
                                    <span class="floor-number grey-text">${post['floor']}</span>
                                </div>
                            </div>
                        </div>`);
                    }
                    if (thread['is_closed']){
                        
                    }
                    history.pushState({}, "index", "/thread/"+thread['thread']);
                } else if (data['code'] === 403){
                    M.toast({html: `${data['code']} - <span class="translate" data-identifier="${data.data['identifier']}">${data.data['message']}</span>`})
                    $("#submitThreadButton").removeClass("disabled")
                }
            },
            error: function(e) {
                console.log(e)
                M.toast({html: `${e['status']} - ${e['statusText']}`})
                $("#submitThreadButton").removeClass("disabled")
            }
        });
    }
    $('#submitThreadButton').click(submitThread)
    $('#backToIndex').click(backToIndex)
</script>