<main>
    <div class="container" id="container">
        <div class="row" id="mainContainerRow">
          {% include 'getThreadForm.html' %}
          <div id="threadContainer">
            <div class="waves-effect waves-grey btn-flat" id="backToIndex"><i class="small material-icons">chevron_left</i></div>
            <h1 id="thread-title">{{thread['title']}}</h1>
            {% for post in posts %}
            <div class="col l12 s12 card-panel white thread-card" id="post-{{post['floor']}}">
                <div class="card-content">
                    <div class="content" id="content-{{post['floor']}}">{{post['content']}}</div>
                    <div class="post-metadata">
                        <span class="grey-text username"><i class="tiny material-icons">account_box</i><span class="metadata-text">{{post['username']}}</span></span>
                        <span class="grey-text time"><i class="tiny material-icons">access_time</i><span class="metadata-text">{{post['time']}}</span></span>
                    </div>
                    <div class="floor">
                        <span class="floor-number grey-text">{{post['floor']}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          {% include 'replyThreadForm.html' %}
        </div>
        {% include 'modalNewThread.html' %}
        {% include 'modalL10n.html' %}
        {% include 'editFab.html' %}
        <script>$(document).ready(function(){$('.fixed-action-btn').floatingActionButton();$('.modal').modal();});</script>
    </div>
    </main>